body{
	background-color:darkgrey;
}
h1{
    text-align: center;
    font-size: 40px;
}
h2{
    font-size: x-large;
}
h3{
    font-size: large;
}
li{
    font-size: medium;
}
code{
    background-color:lightgrey;
    color: blue;
}
pre{
	display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
iframe[Attributes Style]{
	   width: 554px;
    height: 366px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}
p{
	font-size: medium;
}

by{
	text-align: center;
    font-size: 15px;
}